@{
    ViewBag.Title = "За Медиацията ";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Какво е Медиация?
            </h2>
            <p>
                Медиацията е доброволен и поверителен процес, при който страните в конфликт работят с неутрален посредник, за да намерят решения на своите спорове. За разлика от съдебното производство или арбитража, медиацията дава възможност на физически лица и организации да запазят контрола върху изхода на своите разногласия, като същевременно насърчава отворената комуникация и разбирателството.
            </p>
            <h2>
                Процес на Медиация
            </h2>
            <ol>
                <li>
                    <strong>Подготовка:</strong> Преди началото на медиацията, медиаторът се свързва със страните, за да обясни процеса и да събере информация за спора.
                </li>
                <li>
                    <strong>Среща за Начало:</strong> Всички страни се срещат с медиатора, който обяснява правилата на медиацията и улеснява дискусията за целите и очакванията от процеса.
                </li>
                <li>
                    <strong>Идентификация на Проблемите:</strong> Страните имат възможност да изложат своите гледни точки и основания за спора, като медиаторът помага за идентифициране на ключовите въпроси.
                </li>
                <li>
                    <strong>Генериране на Опции:</strong> С медиаторския процес се насърчава създаването на различни възможности за решение на спора, като се обмислят и оценяват различни алтернативи.
                </li>
                <li>
                    <strong>Преговори и Съгласуване:</strong> Страните се ангажират в конструктивни преговори, за да достигнат съгласие по отношение на приемливо решение за всички страни.
                </li>
                <li>
                    <strong>Създаване на Споразумение:</strong> При постигане на споразумение, медиаторът помага да се сформулира ясно и изчерпателно споразумение, което да задоволи интересите и нуждите на всички участници.
                </li>
                <li>
                    <strong>Завършване:</strong> Медиацията приключва, когато всички страни са удовлетворени от постигнатото споразумение и са готови да го приложат.
                </li>
            </ol>
        </div>
    </div>
</div>

