@{
    ViewBag.Title = "За Нас";
 }

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/profile-photo.png" class="img-fluid rounded-circle mb-3" alt="Profile Photo">
        </div>
        <div class="col-md-6">
            <h1>За мен</h1>
            <p><strong>Име:</strong> Вероника Иванова</p>
            <p><strong>Професия:</strong> Адвокат и Сертифициран Медиатор </p>
            <p><strong>Контакти:</strong></p>
            <p><strong>Email:</strong> Mediation.Law.Corner@gmail.com</p>
            <p><strong>Phone: </strong>+359899912345	</p>
            <hr>
            <p><strong> Опит и образование:</strong></p>
            <p> Доктор по Право, Софийски университет "Св. Климент Охридски".</p>
            <p> Адвокатска квалификация от Адвокатска камара на Република България.</p>
            <hr>
            <p><strong> Професионален опит:</strong></p>
            <p> Адвокат в Кантора "Иванова и съдружници", София (2010 - настояще).</p>
            <p> Юрист в Юридическа фирма "Закон и право", София (2007 - 2010)</p>
            <p> Съдебен стажант в Софийски градски съд (2005 - 2007)</p>
            <hr>
            <p><strong>Накратко за мен</strong></p>
            <p> Здравейте! Аз съм адвокат и медиатор със страст към улесняването на процеса на правената помощ и посредничеството. С години опит в областта на правото и медиацията, моята мисия е да предоставя качествени и целенасочени услуги на моите клиенти. .</p>
            <p> Вярвам в справедливостта и важността на мирното разрешаване на спорове. Като сертифициран посредник, се стремя към създаване на среда, в която страните могат да се изслушат и да намерят взаимно приемливи решения, без да се налага да водят сложни и продължителни съдебни процеси. .</p>
            <p> Като адвокат, аз съм тук, за да предложа правни съвети и подкрепа в различни области на правото, включително семейно право, имиграционно право, търговско право и други. Съчетавайки моята експертиза в областта на правото със силните ми комуникационни умения и способността ми да работя с клиенти от различни фонове, целя да постигна най-добрите резултати за всеки от тях. .</p>
            <p> Не търся просто да предоставя правна помощ, а също и да създам доверие и увереност в клиентите си. Считам, че отношението на откритост, съчувствие и професионализъм е от съществено значение във всеки случай. .</p>
            <p> С нетърпение очаквам да работя с вас и да ви помогна да намерите решения за вашите правни и лични предизвикателства.</p>
        </div>
    </div>
</div>
