@{
    ViewBag.Title = " Политика за поверителност ";
   
}

<div class="container">
    <h2> @ViewBag.Title </h2>
    <p>
        Посредническото и правно уеб приложение, предоставено от [Име на фирмата], цени вашата поверителност и се стреми да защити вашите лични данни по най-добър начин. Нашата политика за поверителност обяснява какви данни събираме, защо ги събираме и как използваме вашата информация..
    </p>
    <h3> Събиране на информация </h3>
    <p>
        Когато използвате нашето уеб приложение, ние можем автоматично да събираме определена информация за вашето устройство, включително IP адрес, тип на браузъра, време на достъп и страници, които посещавате. Събираме тази информация с цел подобряване на функционалността на приложението и осигуряване на персонализирано преживяване за нашите потребители.
    </p>
    <h3> Използване на информация </h3>
    <p> Личната информация, която ни предоставяте чрез уеб приложението, се използва единствено за целите, за които е предназначена. Тя може да бъде използвана за осигуряване на нашите услуги, свързване  с вас за важна информация и подобряване на вашето общо преживяване с нашето приложение..</p>
    h3> Споделяне на информация </h3>
    <p> Ние не споделяме вашата лична информация с трети страни без вашето изрично съгласие, освен ако това не е необходимо за осигуряване на услугите, които поискате. Въпреки това, може да споделяме анонимни данни за потребителите с цел анализ и статистически цели.</p>
    <h3> Сигурност</h3>
    <p>Прилагаме подходящи технически и организационни мерки за защита на вашата лична информация от неупълномощен достъп или разкриване. Въпреки това, трябва да имате предвид, че никоя технология за сигурност не е 100% безопасна и следователно не можем да гарантираме пълна сигурност на вашата информация</p>
    <h3> Промени в политиката за поверителност </h3>
    <p> Можем да актуализираме нашата политика за поверителност периодично, за да отразим промените в нашите практики за събиране и управление на данни. По-долу ще намерите дата на последната актуализация на нашата политика за поверителност.</p>
    <h3> Контакт</h3>
    Ако имате въпроси или опасения относно нашата политика за поверителност, моля, свържете се с нас посочените на страницата с Контакти телефони или ни пишете на Mediation.Law.Corner@gmail.com.
</div>
