@{
    ViewBag.Title = "Полезни връзки";
}
<div class="container mt-5">
    <h3> @ViewBag.Title </h3>
    <br>
    <h5>Правна информация и ресурси</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://www.bulgarianlaw.org/">Български Правен Портал</a></li>
        <li class="list-group-item"><a href="https://lex.bg/">База данни за българското законодателство</a></li>
        <li class="list-group-item"><a href="https://www.bulgarianbar.org/">Адвокатска Камара на Република България</a></li>
    </ul>
    <br>
    <h5> Правителствени Правни Ресурси: </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://www.parliament.bg/"> Правителствени Правни Ресурси: </a></li>
    </ul>
    <br>
    <h5> Правни Новини и Списания: </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://www.bulgarianlaw.net/">Фондация Правна помощ</a></li>
        <li class="list-group-item"><a href="https://www.norma.bg/"> Норма Правно Списание </a></li>
        <li class="list-group-item"><a href="https://www.news.lex.bg/"> Български Правен Портал</a></li>
        <li class="list-group-item"><a href="https://www.legalbarometer.bg/"> Център за правни инициативи </a></li>
    </ul>
    <br>
    <h5> Правителствени Правни Ресурси: </h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://law.uni-sofia.bg//"> Образование и Изследвания в Областта на Правото: </a></li>
    </ul>
</div>
