@using MediationCorner.Components;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediationCorner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MediationCorner.styles.css" asp-append-version="true" />
</head>
<body>
    
    <header>
        <img src="~/images/top.png" alt="Header Image" style="width: 100%;" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    @await Component.InvokeAsync(nameof(AdminMenuComponent))
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
           
        </header>
        
   
   
    <div class="container-fluid ml-25">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <nav class="navbar">
          <div class="navbar-collapse collapse d-sm-inline-flex" >
                <ul class="collapse d-sm-inline-flex">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Политика за поверителност</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="FAQ" asp-action="All">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UsefulLinks">Полезни връзки</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link text-dark">&copy; @DateTime.Today.Year - MediationCorner  </div>
                    </li>
            </ul>
          </div>
        </nav>
    
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
