<ul class="navbar-nav flex-grow-1">
   
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMe">За мен</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMediation">За медиацията</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LegalServices">Правни услуги</a>
        </li>
       
        
    
    @if (this.User?.Identity?.IsAuthenticated ?? false&& User.IsAdmin())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Appointment" asp-action="ALl">Запазени часове</a>
        </li>
        
         <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Inquiry" asp-action="All">Запитвания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Mediation" asp-action="All">Заявки за медиация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Seminars" asp-action="All">Семинари</a>
        </li>

    }
</ul>